{% extends 'base.html' %}
{% block title %}
Admin - Products
{% endblock %}
{% block meta %}
<meta name="description" content="Admin - Manage Products">
<meta property="og:title" content="Admin - Manage Products">
<meta property="og:description" content="Admin - Manage Products">
<meta name="robots" content="noindex">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='admin_panel.js') }}" defer></script>
<script src="{{ url_for('static', filename='paginate_admin.js') }}" defer></script>
{% endblock %}
{% block content %}
<div class="mainContent">
    <div class="adminCard">
        <div class="heading animate right">
            <h1>Manage Products</h1>
        </div>
        <button class="products" type="button" id="add-product-menu-button">Add Product</button>
        <hr>
        <div class="prodContainer" id="product-fields-container">
            <div class="newProduct">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <div class="productCard">
                    <div class="mobileTitle">
                        <h2 id="new-product-mobile-name" contenteditable="true">Product Name</h2>
                    </div>
                    <div class="productLogo">
                        <input type="file" id="new-product-image" accept="image/*" hidden>
                        <div class="customFileupload" id="upload-file-button">
                        </div>
                    </div>
                    <div class="productBody">
                        <h2 contenteditable="true" id="new-product-name">Product Name</h2>
                        <div class="tags">
                            <span class="tag" contenteditable="true">Category Name</span>
                            <button type="button" class="smallButton" id="add-tags">+</button>
                        </div>
                        <p contenteditable="true" id="new-product-description">Product Description</p>
                    </div>
                </div>
                <button type="button" id="add-product-button" class="bluebutton">Add Product</button>
            </div>
        </div>
        <h2>Product List</h2>
        <div class="productsSection" id="product-list"></div>
        <div id="loading" style="text-align: center; display: none;">
        <p>Loading more products...</p>
        </div>
    </div>
</div>
{% endblock %}