<!DOCTYPE html>
<html lang="en-IN">

<head>
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.cloudflare.com https://*.google.com https://*.googleapis.com https://*.cloudflareinsights.com; style-src 'self' 'unsafe-inline' https://*.cloudflare.com https://*.google.com https://*.googleapis.com https://*.cloudflareinsights.com; img-src 'self' data: https://*.cloudflare.com https://*.google.com https://*.googleapis.com https://*.cloudflareinsights.com; font-src 'self' https://*.cloudflare.com https://*.gstatic.com https://*.cloudflareinsights.com; connect-src 'self' https://*.cloudflare.com https://*.google.com https://*.googleapis.com https://*.cloudflareinsights.com;">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="en_US" />
    <meta name="keywords" content="YSR, YSR Shine, Shine Solutions, Hotel Amenities, cleaning, Hotel Providers">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_IN" />
    <title>{% block title %}My Website{% endblock %}</title>
    {% block meta %}
    {% endblock %}
    <meta name="author" content="YSR Shine Solutions">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <link rel="canonical" href="https://www.ysrshinesolutions.com/">
    <link rel="preload" as="image" href="../static/default_images/WhatsAppButtonGreenSmall.svg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="YSR Shine Solutions">
    <meta name="twitter:description" content="Your trusted partner for cleaning solutions.">
    <meta name="twitter:image" content="https://www.ysrshinesolutions.com/static/default_images/wetwUntitled.png">
    <meta name="twitter:site" content="@YourTwitterHandle">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preload" href="{{ url_for('static', filename='fonts.css') }}" as="style" onload="this.rel='stylesheet'">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4116085907286146"
     crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
</head>

<body>
    <script src="{{ url_for('static', filename='animations_handler.js') }}" defer></script>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav>
        <div class="logo">
            <a href="{{ url_for('views.home') }}"><img class="logo small"
                    src="{{ url_for('static', filename='default_images/YSR_shine_mini_2-removebg-preview.png') }}"
                    alt="Logo"></a>
        </div>
        <div class="links">
            <ul>
                <li class="disposable"><a href="{{ url_for('views.home') }}">Home</a></li>
                <li class="otherDisposable"><a href="{{ url_for('views.home') }}#Quote-form" class="rainbow-text rainbow-enter"
                        id="Quote-button">Get Quote</a></li>
                <li class="subnav">
                    <div class="burger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="flashContainer">
        <div class="messageList" id="flashed-message-list">
            <div class="messageContainer {{category}}">
            </div>
        </div>
    </div>
    <div class="sidebar animate right">
        <div class="banner">
            <img src="{{ url_for('static', filename='default_images/YSR_shine_mini_2-removebg-preview.png') }}"
                alt="Banner" loading="lazy">
        </div>
        <div class="subheading animate right">
            <h2>Looking for something <em>specific?</em></h2>
        </div>
        <div class="subheading animate right">
            <p>Browse our catalog to find the perfect cleaning solution for your needs.</p>
        </div>
        <div class="catalog-items">
            <div class="subheading animate right">
                <a href="{{ url_for('views.home') }}#product-list">View Catalog</a>
            </div>
            <!-- Catalog items will be dynamically loaded here  by js-->
        </div>
        <hr>
        <div class="extra">
            <div class="whatsapp">
                <a aria-label="Chat on WhatsApp"
                    href="https://api.whatsapp.com/send/?phone=917073154946&amp;text=Hello%2C%0AWe+would+like+to+know+more+about+the+Products+and+Services+of+YSR+Shine+Solutions&amp;type=phone_number&amp;app_absent=0"
                    style="margin: auto;"> <img alt="Chat on WhatsApp"
                        src="../static/default_images/WhatsAppButtonGreenLarge.svg" loading="lazy" /></a>
            </div>
            {% if current_user.is_authenticated %}
            <ul>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
            {% if current_user.role == 'admin' %}
            <ul>
                <li><a href="{{ url_for('views.admin_panel') }}">Admin Dashboard</a></li>
            </ul>
            {% endif %}
            {% else %}
            <ul>
                <li><a href="{{ url_for('auth.signup') }}">SignUp</a></li>
                <li><a href="{{ url_for('auth.login') }}">LogIn</a></li>
            </ul>
            {% endif %}
        </div>
        <hr>
        <div class="subheading animate right">
            <h2>Contact Us</h2>
        </div>
        <div class="subheading animate up">
            <p style="text-decoration: underline;">Email:</p>
            <p>ysrshinesolutions@gmail.com</p>
            <p style="text-decoration: underline;">Phone:</p>
            <p>+91 70731 54946</p>
            <p style="text-decoration: underline;">Address:</p>
            <p>Plot No 21, Balnath dham Akeda Dungar, Road No 17, Jaipur, Rajasthan, 30201</p>
        </div>
    </div>
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="flash-message {{ message[0] }}" style="display: none;">
        {{ message[1] }}
    </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <div class="footer">
        <div class="footer-header">
            <p>© 2025 YSR Shine Solutions. All rights reserved.</p>
            <span class="arrow">&#x25B2;</span>
            <div class="tooltiptext">Click for more information.</div>
        </div>
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contact Us</h4>
                <p>Email: ysrshinesolutions@gmail.com</p>
                <p>Phone: +91 70731 54946</p>
            </div>
            <div class="footer-section">
                <h4>About Us</h4>
                <p>GSTIN: 08ABEPO9909R1ZO</p>
                <p>Address: Plot No 21, Balnath dham Akeda Dungar, Road No 17, Jaipur, Rajasthan, 30201</p>
            </div>
            <div class="footer-section">
            <p>Front-End: Vatsal Dwivedi</p>
            <p>Back-End: Vatsal Dwivedi</p>
            <a href="https://github.com/Charcoal4768" style="text-decoration: underline; color: blue;">Developer Portfolio</a>
            <p>Hosted on Google Cloud Platform</p>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const inputs = document.querySelectorAll(".material-input input, .material-input select");

            // Function to update the filled class
            const updateFilledState = (element) => {
                const materialInputDiv = element.closest(".material-input");
                const isFilled = element.value.trim() !== "";
                if (isFilled) {
                    materialInputDiv.classList.add("filled");
                } else {
                    materialInputDiv.classList.remove("filled");
                }
            };

            // Loop through all inputs and selectors
            inputs.forEach(element => {
                // Listen for change/input events to update the filled state
                element.addEventListener("input", () => updateFilledState(element));
                element.addEventListener("change", () => updateFilledState(element));

                // Handle the case where the browser auto-fills on page load
                // A slight delay ensures the browser's auto-fill has completed
                setTimeout(() => updateFilledState(element), 100);
            });
        });
    </script>

    <script>
        document.querySelector('.footer-header').addEventListener('click', function () {
            const content = document.querySelector('.footer-content');
            const arrow = document.querySelector('.arrow');
            content.classList.toggle('visible');
            arrow.innerHTML = content.classList.contains('visible') ? '&#x25BC;' : '&#x25B2;';
        });
        function createMessage(type, message) {
            const messageContainer = document.querySelector(".flashContainer .messageList");
            let messageElement = document.createElement("div");
            messageElement.classList.add("messageContainer");
            messageElement.classList.add(type);
            let messageText = document.createElement("li");
            messageText.innerText = message;
            messageElement.appendChild(messageText);

            // Create the close button
            const closeButton = document.createElement("span");
            closeButton.innerText = "×";
            closeButton.classList.add("close-btn");
            closeButton.onclick = function () {
                messageElement.remove();
            };
            messageElement.appendChild(closeButton);
            messageContainer.appendChild(messageElement);

            setTimeout(() => {
                messageElement.remove();
            }, 6000);
        }
    </script>

</body>

</html>