{% extends 'base.html' %}
{% block title %}YSR Shine Solutions{% endblock %}
{% block meta %}
    <meta name="description" content="YSR Shine Solutions - Your ">
    <meta name="keywords" content="YSR, Shine, Solutions, Business">
{% endblock %}
{% block content %}
<div class="pageLander shine">
    <div class="paneLayout">
        <div class="animate up rel secondary smaller">
            <div class="contactForm">
                <form method="post">
                    <div class="heading animate up">Get a Quote today</div>
                    <input type="text" name="name" placeholder="Your Company/Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="address1" placeholder="Address Line 1" required></textarea>
                    <textarea name="address2" placeholder="Address Line 2"></textarea>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit" class="bluebutton">Send Message</button>
                </form>
            </div>
            <img class="showcase large faded" src="{{ url_for('static', filename='default_images/test.png') }}" alt="Logo">
        </div>
        <div class="TextBoxBig animate up priority bigger">
            <h1 class="heading">YSR Shine Solutions, your trusted cleaning solution.</h1>
            <h2 class="subheading">Spaces that shine, lives that feel fresh.</h2>
            <p class="subheading">Reliable cleaning solutions for your comfort</p>
        </div>
    </div>
</div>
<div class="mainContent">
    <div class="layer left">
        <div class="heading animate up">
            <h2>Our Products</h2>
        </div>
    </div>
</div>
{% endblock %}